
#paragraph{
    font-size: 25px;
    color: black;
}
#backgroundcolor{
    background-color: rgb(238, 209, 209);
}
#tables{
    border: 2px;
    border-collapse: collapse;
}
#container{
    justify-content: center;
}
#heading{
    color: rgb(69, 12, 167);
}
#titles{
    background-color: rgb(150, 234, 87);
}
#lists{
    font-size: 25px;
}